.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
}
  
/* Tab Header */
h3 {
  position: fixed;
  text-align: center;
  color: rgb(255, 255, 255);
  z-index: 9999;
  max-width: 60%;
  font-size: 28px;
  margin-left: 0px;
  margin-top: -665px;
}

/* Tab Sub-Heading */
pee {
  position: fixed;
  text-align: center;
  color: rgb(134, 134, 134);
  z-index: 9999;
  max-width: 60%;
  font-size: 13px;
  margin-left: -0px;
  margin-top: -600px;
}

/* Textbox & Button */
.input-container {
  display: flex;
  align-items: center; 
  z-index: 1;
  margin-top: -100px;
  margin-left: 60px;
}

/* Textbox */
input[type="text2"] { 
  position: fixed;
  flex: 1; 
  margin-left: -140px;
  text-align: center;
  border-radius: 15px 3px 3px 15px;
  padding: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-sizing: border-box;
}

/* Button (Unhovered) */
.view-button {
  position: fixed;
  width: 40px;
  margin-top: -10px;
  margin-left: 20px; 
  border-radius: 3px 15px 15px 3px;
  padding: 9px 0px;
  background-color: #eeaf1d;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 1;
}

/* Button (Hovered) */
.view-button:hover {
  background-color: #d59c18;
  z-index: 1;
}

/* Data Table */
.data-table {
  position: relative;
  text-align: left;
  border-collapse: collapse;
  overflow-x: hidden; 
  overflow-y: scroll;
  white-space: nowrap; 
  height: 250px;
  width: 80%;
  margin-top: 10px;
  margin-left: 60px;
  margin-right: 90%;
  z-index: 1;
}

.data-table td {
  padding: 8px;
  border-bottom: 1px solid rgba(30, 0, 255, 0.08);
  text-align: center;
  border-top: none;
  border-radius: 20px;
  color: rgb(87, 87, 87);
  z-index: 1;
}
  
/* Column Names */
th {
  position: sticky;
  border-radius: 20px 20px 20px 20px;
  padding: 10px;
  background-color: #a5a9ad;
  font-weight: bold;
  text-align: center;
  border-top: none;
  margin-top: 20px;
  color: #fff;
  z-index: 1;
}
  
.data-table td ul {
  list-style-type: none;
}
  
.data-table td ul li {
  margin-bottom: 4px;  
}
  
/* Box Container */
.square-container2 {
  box-sizing: content-box;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Box: Main Section */
.square2 {
  position: fixed;
  width: 1200px;
  height: 400px;
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 40px 40px;
  margin-top: -180px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40vw;
}

/* Box: Tab Section */
.square-tab2 {
  position: fixed;
  width: 1200px;
  height: 60px;
  background-color: rgba(182, 142, 203, 0.845);
  border-radius: 40px 40px 0px 0px;
  margin-top: -240px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -40vw;
  z-index: 1;
}
