.blob {
    position: fixed;
    top: 0;
    left: 0;
    width: 175%;
    height: 175%;
    z-index: 0;
    background: url('./meow3.png') center center no-repeat;
    background-size: contain;
  }
  