.nav {
  position: fixed;
  top: 0;
  left: 0px;
  padding: 0px;
  z-index: 9999;
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 15px;
  top: 32vh;
}

.nav-links li {
    margin-bottom: 30px; /* Distance between each icon */
}

.nav-links li a {
  color: #ffffff;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  font-size: 40px;
}

.clickable-icon {
  color: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.1));
  font-size: 40px;
  cursor: pointer;
  margin-bottom: 30px;
}